[Unit]
Description= Node.js Application made by Kunal Verma
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/AWS-Session
ExecStart=/usr/bin/npm run start  # Uses npm to start the application as specified in your package.json
Restart=always
User=ubuntu
Environment=DOMAIN=http://localhost:3000   # Add your environment variables here
Environment=STATIC_DIR=./client
Environment=PORT=3000
Environment PUBLISHABLE_KEY=pk_test_51L5AsSSCC8JVWfvgEtfJkzHMTh7Z5PLY5m1yhR379sJgwAVZEe13NaiG33wsHSyHnPJMjTNOosiPk6AeMI8q0ims0049IKffiu
Environment SECRET_KEY=sk_test_51L5AsSSCC8JVWfvgxpyZvQyBRRkHmGBkdyIa94vPD3Zs71qbHGrnSPlrJOIWiR74fbcn1A85yESCFnrrp3aX0Oz900JaunHrhe

[Install]
WantedBy=multi-user.target

